<?xml version='1.0' encoding='utf-8'?>
<widget id="com.github.DSnopov.mwdictionary" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MW Dictionary online</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <preference name="orientation" value="portrait"/>

    <platform name="ios">
        <preference name="DisallowOverscroll" value="true"/>
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#000000" />
        <preference name="StatusBarStyle" value="lightcontent" />
    </platform>

    <platform name="android">
        <preference name="android-minSdkVersion" value="14"/>
        <preference name="android-targetSdkVersion" value="21"/>
    </platform>
</widget>
