<div class="main-header">
    <div class="title">Search</div>
</div>
<form class="main-form">
    <div class="main-form__search-wrapper">
        <input class="main-form__search-input" type="text" placeholder="Search for word definition...">
        <div class="main-form__search-btn"></div>
    </div>
    <input type="submit" value="hidden submit">
</form>
<div class="search-error native-scroll" style="display: none;">
    <p class="search-error__description">
        The word you have entered is not in the dictionary. Click on a spelling suggestion below or try your search again.
    </p>
    <div class="search-error__suggestions native-scroll">
        <!--<a href="#">Example</a>-->
    </div>
</div>