@import url("reset.css");
@import url("rad.css");
@import url("transitions.css");

body {
    min-width: 320px;
    font: 14px/24px Arial, Helvetica, sans-serif;
    color: #000;
}
p {
    margin: 15px 0;
}
.bold {
    font-weight: bold;
}

/* */
.main-header {
    height: 42px;
    background: #015e89;
    border-bottom: 1px solid #74adc7;
    font-size: 14px;
    font-weight: bold;
}
.main-header .title {
    line-height: 42px;
    padding: 0 42px;
    text-align: center;
    color: #ffffff;
}
.main-header__btn_back {
    width: 42px;
    height: 100%;
    float: left;
    background: url('../img/arrow_back.png') 50% 50%/26px 26px no-repeat;
}
.content-holder {
    position: absolute;
    top: 43px;
    width: 100%;
    bottom: 0;
}
.content {
    padding: 0 12px;
}

/* search page */
.main-form {
    margin: 20px 0;
    padding: 0 12px;
}
.main-form__search-wrapper {
    position: relative;
}
.main-form__search-input {
    width: 100%;
    height: 38px;
    padding: 11px 6px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #999;
    font-size: 16px;
}
.main-form__search-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 38px;
    background: url('../img/magnify.png') 50% / 30px no-repeat;
}
.main-form input[type="submit"] {
    position: absolute;
    top: -1000px;
}
.search-error {
    position: absolute;
    width: 100%;
    top: 121px;
    bottom: 0;
    padding: 0 12px;
    box-sizing: border-box;
    border-top: 1px solid #999;
}
.search-error__suggestions a {
    display: block;
    color: #2282BD;
    text-decoration: none;
    line-height: 32px;
    font-weight: bold;
}

/* definition */
.definition {
    padding: 15px 0;
    border-top: 1px solid #8E9091;
}
.definition:first-child {
    border-top: none;
}
.definition__word {
    font-size: 24px;
}
.definition__pron {
    padding-left: 15px;
    font-size: 16px;
}
.definition__functional-label {
    padding-left: 15px;
    color: #7C7575;
    font-weight: bold;
    font-size: 16px;
    font-style: italic;
}
.definition__il {
    font-style: italic;
    color: #575656;
}
.definition__if {
    font-weight: bold;
}
.definition__if:after {
    content: ';';
}
.definition__if:last-child:after {
    content: '';
}
.definition__entry {
    margin: 10px 0;
}
.definition__examples {
    list-style: square inside;
    color: #00B7E0;
    padding-left: 15px;
}
.definition__examples li>span {
    color: black;
}

/* spinner */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;

    background: #000000;
    opacity: 0.6;
}
#circular {
    background: url('../img/spinner.png');
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;

    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: spinner .6s steps(7) infinite;
    animation: spinner .6s steps(7) infinite;
}
@-webkit-keyframes spinner{
    from { background-position: 0; }
    to { background-position: -350px; }
}
@keyframes spinner{
    from { background-position:    0; }
    to { background-position: -350px; }
}